* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch+Pop&display=swap');

/* VARAIBLES*/

:root {
    --input-padding: 0 10px;
    --primary-BGCOLOR: #fff;
    --secondary-ff: "Roboto Mono", monospace;
    --hover-scaleUp: scale(1.1);
    --active-scaleDown: scale(0.9);
}


/* || UTILITY STYLES */
body {
    font-family: 'Poppins', sans-serif;
}

.pointer {
    cursor: pointer;
    display: inline-block;
}

.link-disappear {
    visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    width: 80%;
    text-align: center;
}

.fa-angle-down {
    font-size: 10px;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase, .link {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    width: 100%;
    text-align: center;
}

/* || FOR LAPTOP SCREENS*/
/* || FOR THE HEADER */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-BGCOLOR);
}

.left {
    display: flex;
    align-items: center;
}

#logo{
    width: 45px;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

#first, #second {
    display: inline;
}

#first {
    color: #393585;
    font-size: 0.9rem;
    font-weight: 900;
}

#second {
    color: #d5a54e;
    font-size: 0.7rem;
    font-weight: 900;
}

.link {
    display: inline-block;
    color: #000;
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    margin: 8px 16px;
}

.link:hover {
    transition: transform 0.3s ease-in-out;
}

.link-hover:hover {
    transform: var(--hover-scaleUp);
}

.link-hover:active {
    transform: var(--active-scaleDown)
}

nav {
    display: flex;
    align-items: center;
}

.hover-effect {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
}

.hover-effect:hover .link-disappear {
    visibility: visible;
    display: flex;
    flex-flow: column nowrap;
}

.hover-effect .link-disappear:nth-child(2){
    transition: all 0.3s ease-in-out;
}
.hover-effect .link-disappear:nth-child(3){
    transition: 0.6s all ease-in-out;
}
.hover-effect .link-disappear:nth-child(4){
    transition: 0.9s all ease-in-out;
}

.hover-effect:hover .link-disappear:nth-child(2){
    transform: translateY(15px);
}
.hover-effect:hover .link-disappear:nth-child(3){
    transform: translateY(30px);
}
.hover-effect:hover .link-disappear:nth-child(4){
    transform: translateY(45px);
}

.classes {
    position: relative;
}

.fa-solid {
    position: absolute;
}

.fa-angle-up {
    visibility: hidden;
}

.hover-effect:hover .fa-angle-up {
    visibility: visible;
}

.hover-effect:hover .fa-angle-down {
    visibility: hidden;
}

/* || FOR THE MAIN */

main {
    height: 60vh;
    padding: 10vh 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    column-gap: 2%;
    position: relative;
}

/* main::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/download.png);
    z-index: -10;
} */

main .main-left {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 0 0 5% 25%;
    z-index: 10;
}

main .main-left p:first-child{
    font-size: 2.1rem;
    font-weight: 400;
    font-family: var(--secondary-ff);
}

main .main-left p:nth-child(2){
    font-family: var(--secondary-ff);
    font-size: 3rem;
    font-weight: 700;
    width: 15ch;
}

main .main-left .main-left-link{
    font-size: 0.7rem;
    text-decoration: none;
    background-color: var(--primary-BGCOLOR);
    color: #546077;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 3px;
    transition: transform 0.5s ease-in-out;
}

main .main-left .main-left-link:hover {
    transform: var(--hover-scaleUp);
}

main .main-left .main-left-link:active {
    transform: var(--active-scaleDown);
}

main .main-right {
    margin: 0 25% 0 0;
    grid-area: 1 / 2 / 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-BGCOLOR);
}

main #second-header {
    font-size: 1rem;
}


main .main-right form {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px 0;
}

#name {
    grid-area: 1 / 1 / 2 / 2;
    padding: var(--input-padding);
}

#tel {
    grid-area: 1 / 2 / 2 / 3;
    padding: var(--input-padding);
}

#email {
    grid-area: 2 / 1 / 3 / 2 ;
    padding: var(--input-padding);
}

#device {
    grid-area: 2 / 2 / 3 / 3;
    padding: var(--input-padding);
    color: grey;
}

#location {
    grid-area: 3 / 1 / 4 / 3;
    padding: var(--input-padding);
}

#message {
    grid-area: 4 / 1 / 5 / 3;
    padding: var(--input-padding);
}

input:focus, textarea:focus {
    outline: none;
}

#submit {
    grid-area: 5 / 1 / 6 / 3;
    padding: 8px 0;
    background-color: #032c70;
    border: none;
    color: var(--primary-BGCOLOR);
    border-radius: 3px;
}

main .images {
    grid-area: 2 / 1 / span 2 / span 2;
}

